.login-container {
  position: absolute;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: end;

  &__outer {
    position: fixed;
    top: 85px;
    overflow: hidden;
    width: 0;
    transition: width 0.4s linear;
    z-index: 100;
  }

  &__form {
    position: relative;
    margin: 15px;
    background: $logFormInnerBgColor;
    box-shadow: 0px 0px 15px $logFormInnerBoxShadowColor;
    padding: 25px 25px 0;
    text-align: center;

    input[type="text"],
    input[type="password"],
    button {
      margin-bottom: 25px;
      height: 40px;
      outline: 0;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      border: none;
      border-bottom: 1px solid $logFormInactiveColor;
      padding: 0 0 0 50px;
      font-size: 14px;
      color: $logFormInputColor;

      &:focus {
        border-bottom: 1px solid $logFormInputColor;
      }
    }

    ::placeholder {
      color: $logFormInactiveColor;
    }

    input[type="text"] {
      background: url("../img/user2.png") no-repeat left center;
    }

    input[type="password"] {
      background: url("../img/pencil2.png") no-repeat left center;
    }

    a {
      font-size: 16px;
      white-space: nowrap;

      p {
        padding-bottom: 25px;
        text-align: center;
        color: $logFormTextColor;
        &:hover {
          color: $logFormTextColorHover;
        }
      }
    }

    button {
      width: 70%;
      background: transparent;
      color: $logFormBtnTextColor;
      font-family: $Lato;
      font-size: 18px;
      font-weight: 200;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        border: solid;
      }
    }

    .hide-form {
      position: absolute;
      width: inherit;
      border: none;
      top: 0;
      right: 15px;
      padding: 0px 15px;
      &:hover {
        border: none;
        font-size: 22px;
      }
    }
  }
}

.login-form-appear{
    width: 300px;
}