//Fonts
$Lato: "Lato";
//====== colors
$linkColor:#006DFE;
$linkColorHover:#1b9fff;

$headerBgColor: rgba(31, 32, 33, 0.79);
$headerTextColor: #ffffff; 
$headerNavmenuTdecorColorHover: #18a0fb; 
$headerFormBtnBgColor: #1b7dff;
$headerFormBtnBgColorHover: #1b9fff;

$hamburgerColor: #fff;
$hamburgerMenuBgColor: rgba(53, 66, 103,1);
$hamburgerMenuBgColorHover: rgba(#18a0fb, 0.5);
$hamburgerMenuBorderColor: rgb(216, 191, 216);

$articleBgColor:#fff;

$mainImageColor:#fff;

$mainGridBgBtnColor:#006dfe;
$mainGridBgBtnColorHover:#1b9fff;

$bgGoTopColor:#376589;

$logFormInnerBgColor: rgba(7, 14, 20, 0.9);
$logFormInnerBoxShadowColor: rgba(120, 160, 255, 1);
$logFormInputColor: rgba(255, 255, 255, 0.9);
$logFormInactiveColor: rgba(255, 255, 255, 0.4);
$logFormTextColor: rgba(255, 255, 255, 0.5);
$logFormTextColorHover: rgba(255, 255, 255, 0.7);
$logFormBtnTextColor: rgba(255, 255, 255, 0.9);